$primary   : #050387;
$secondary : #3434d7;
$brand     : #b5257b;

$light      : #ffffff;
$light-page : #f0f0f0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$nonHighlighted : #b1b1b1;
$nonHighlightedLight : #e8e8e8;
